body{
    background-color: #7e7e81;
    background: linear-gradient(to bottom right, #ffd89b, #19547b);
    background: -webkit-linear-gradient( (#ffd89b, #19547b));
}

#container{
    height: 410px;
    width: 550px;
  
    margin: 100px auto;
    background-color: #F7AEF8;
    padding: 20px;
    border-radius: 10px;
   
}

#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: rgb(240, 241, 245);    
    font-size: 100px;
    text-align: center;
    font-family: 'Sniglet', cursive;
    color: black;
    box-shadow: 0px 4px #86868a;
    -moz-box-shadow: 0px 4px #99999c;
    -webkit-box-shadow: 0px 4px #8c8d92;
}
.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    text-align: center;
    line-height: 80px;  
  
}

